* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(30, 30, 30); 
    font-family: 'Arial', sans-serif;
}

a {
    text-decoration: none;
    color: #fff; 
    border: 2px solid #fff;
    padding: 2rem 5rem;
    position: relative;
    overflow: hidden;
    background: transparent;
    transition: all 0.5s ease-in-out;
    font-size: 1.5rem;
    border-radius: 10px;
}

a:before {
    content: "DOWNLOAD";
    font-weight: bold;
    color: #333; 
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ff6f61, #ffcc00);
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

a:hover:before {
    transform: translateY(0);
}

a:hover {
    color: #ff6f61; 
    border-color: #ff6f61; 
    transform: scale(1.1); 
    box-shadow: 0 0 15px rgba(255, 111, 97, 0.6); 
}
